# some binary files
*.png
*.eps
*log
# Compiled Object files
*.slo
*.lo
*.o
*.d
*.pcm
*.pyc
*__pycache__

# Compiled Dynamic libraries
*.so
*.so.[0-9]*
*.dylib
*.dll
*.libs
*.lib

# Compiled Static libraries
*.lai
*.la
*.a

# Dictionary source files
G__*.c
G__*.cxx
G__*.h

# 
*.html
fastMCKalman/MC/__pycache__/*.pyc
dict*
